@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #E1DFDF;
  background: rgb(65,14,119);
background: radial-gradient(circle, rgba(65,14,119,1) 0%, rgba(7,7,77,1) 0%, rgba(2,0,36,1) 100%);
}
.container{
  max-width: 1464px;
display: flex;
flex-direction: column;
justify-content: center;
}
.btn{
  background-color: darkmagenta/20;
  cursor: pointer;
  padding: 10px;

  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}

.btn:hover{
  color: #fff;
  background:#fff;
  font-weight: bold;
}
.anim-box{
  position: relative;
  width: 800px;
  height: 300px ;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(0,0,0,0.5);
 overflow: hidden;
 border-radius: 20px;
}
.anim-box::before{
  content: '';
  position: absolute;
background-image: conic-gradient(
  #8c4dc4 20deg,
  transparent 120deg
);
width: 120%;
height: 120%;
animation: rotate 4s linear infinite;
}
.anim-box::after{
  content: '';
  position: absolute;
  inset: 2px;
  background: #0e1538;
  border-radius : 16px
}
.anim-circle{
  position: relative;
  width: 120px;
  height: 120px ;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(215, 43, 215, 0.5);
 overflow: hidden;
 border-radius: 50%;
}
.anim-circle::before{
  content: '';
  position: absolute;
background-image: conic-gradient(
  #8c4dc4 20deg,
  transparent 120deg
);
width: 150%;
height: 150%;
animation: rotate 4s linear infinite;
}
.anim-circle::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #0e1538;
  border-radius : 50%
}
@keyframes rotate
{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg) ;
  }
}